<div class="bg-pale bg-slant">
  <div class="container py-8 position-relative" data-aos="fade-up">
    <span class="badge rounded-pill bg-brand fs-8 py-2 px-3 my-5 fw-medium"
      >Awards</span
    >
    <h5 class="fw-semibold lh-base mb-9">
      Awards for design, creativity, and innovation on the Internet
    </h5>
    <!-- Swiper -->
    <div class="swiper mySwiper overflow-visible">

        <!-- Swiper Wrapper-->
      <div class="swiper-wrapper cursor-grab">

        <!-- Swiper Slide -->
        <div class="swiper-slide bg-white border border-lightblue border-2 rounded-4 py-6 px-3 shadow-lg">
          <div class="d-flex flex-column align-items-center" data-aos="fade-up">
            <div class="f-w-30 mb-5">
              <picture>
                <img
                  class="img-fluid"
                  src="{{webRoot}}/assets/images/logos/airbnb.svg"
                  alt="{{ config.defaultImgAlt }}"
                />
              </picture>
            </div>
            <div class="d-flex align-items-center gap-2 mb-5">
              <i class="ri-star-line text-warning ri-1x"></i>
              <i class="ri-star-line text-warning ri-1x"></i>
              <i class="ri-star-line text-warning ri-1x"></i>
              <i class="ri-star-line text-warning ri-1x"></i>
              <i class="ri-star-line text-secondary ri-1x"></i>
            </div>
            <div class="d-flex flex-column justify-content-center text-center">
              <span class="fs-6 fw-semibold text-darkblue"
                >4.95 out of 5 stars</span
              >
              <span class="fs-8 fw-medium text-secondary">from 23 reviews</span>
            </div>
          </div>
        </div>

        <!-- Swiper Slide -->
        <div class="swiper-slide bg-white border border-lightblue border-2 rounded-4 py-6 px-3 shadow-lg">
          <div class="d-flex flex-column align-items-center text-center" data-aos="fade-up">
            <div class="f-w-30 mb-5">
              <picture>
                <img
                  class="img-fluid"
                  src="{{webRoot}}/assets/images/logos/amazon.svg"
                  alt="{{ config.defaultImgAlt }}"
                />
              </picture>
            </div>
              <span class="fs-8 fw-medium text-secondary"
                >They build modern-looking websites easily using Tabs.</span
              >
              <a href="#"
                  class="btn btn-link d-flex align-items-center my-4 py-1 px-0 rounded-0 w-fit-content fw-semibold fs-8 text-darkblue border-bottom-darkblue border-2 transition-opacity opacity-75-hover"
                  role="button">Learn More</i></a>
          </div>
        </div>
        
        <!-- Swiper Slide -->
        <div class="swiper-slide bg-white border border-lightblue border-2 rounded-4 py-6 px-3 shadow-lg">
          <div class="d-flex flex-column align-items-center text-center" data-aos="fade-up">
            <div class="f-w-30 mb-5">
              <picture>
                <img
                  class="img-fluid"
                  src="{{webRoot}}/assets/images/logos/slack.svg"
                  alt="{{ config.defaultImgAlt }}"
                />
              </picture>
            </div>
              <span class="fs-8 fw-medium text-secondary"
                >They build modern-looking websites easily using Tabs.</span
              >
              <a href="#"
                  class="btn btn-link d-flex align-items-center my-4 py-1 px-0 rounded-0 w-fit-content fw-semibold fs-8 text-darkblue border-bottom-darkblue border-2 transition-opacity opacity-75-hover"
                  role="button">Learn More</i></a>
          </div>
        </div>

        <!-- Swiper Slide -->
        <div class="swiper-slide bg-white border border-lightblue border-2 rounded-4 py-6 px-3 shadow-lg">
          <div class="d-flex flex-column align-items-center" data-aos="fade-up">
            <div class="f-w-30 mb-5">
              <picture>
                <img
                  class="img-fluid"
                  src="{{webRoot}}/assets/images/logos/spotify.svg"
                  alt="{{ config.defaultImgAlt }}"
                />
              </picture>
            </div>
            <div class="d-flex align-items-center gap-2 mb-5">
              <i class="ri-star-line text-warning ri-1x"></i>
              <i class="ri-star-line text-warning ri-1x"></i>
              <i class="ri-star-line text-warning ri-1x"></i>
              <i class="ri-star-line text-warning ri-1x"></i>
              <i class="ri-star-line text-secondary ri-1x"></i>
            </div>
            <div class="d-flex flex-column justify-content-center text-center">
              <span class="fs-6 fw-semibold text-darkblue"
                >4.95 out of 5 stars</span
              >
              <span class="fs-8 fw-medium text-secondary">from 23 reviews</span>
            </div>
          </div>
        </div>

        <!-- Swiper Slide -->
        <div class="swiper-slide bg-white border border-lightblue border-2 rounded-4 py-6 px-3 shadow-lg">
          <div class="d-flex flex-column align-items-center text-center" data-aos="fade-up">
            <div class="f-w-30 mb-5">
              <picture>
                <img
                  class="img-fluid"
                  src="{{webRoot}}/assets/images/logos/paypal.svg"
                  alt="{{ config.defaultImgAlt }}"
                />
              </picture>
            </div>
              <span class="fs-8 fw-medium text-secondary"
                >They build modern-looking websites easily using Tabs.</span
              >
              <a href="#"
                  class="btn btn-link d-flex align-items-center my-4 py-1 px-0 rounded-0 w-fit-content fw-semibold fs-8 text-darkblue border-bottom-darkblue border-2 transition-opacity opacity-75-hover"
                  role="button">Learn More</i></a>
          </div>
        </div>

      </div>
        <!-- / Swiper Wrapper-->
    </div>
    <!-- Swiper-->

  </div>
</div>
