<div class="container pb-8">
  <div
    class="cta d-flex align-items-center justify-content-between bg-darkpurple p-9"
    data-aos="fade-up"
  >
    <div class="d-flex flex-column justify-content-start w-50">
      <h5 class="fw-semibold text-white mb-4">Infinite solutions</h5>
      <p class="mb-0 text-white">
        Intuitive markup, powerful and lightning-fast build tools, everything
        you need to turn your ideas into incredible products.
      </p>
    </div>
    <a
      href="#"
      class="btn btn-light d-flex align-items-center py-3 px-4 w-fit-content"
      role="button"
      >Learn More<i class="ri-arrow-right-line ms-4"></i
    ></a>
  </div>
</div>
