<div class="pb-10">
  <div class="container">
    <h5 class="fw-semibold lh-base mb-5 text-center" data-aos="fade-up">
      I want to start a new project.
    </h5>

    <div
      class="d-flex justify-content-center align-items-center"
      data-aos="fade-up"
    >
      <a
        href="#"
        class="btn btn-brand d-flex align-items-center py-3 px-5 text-white w-fit-content"
        role="button"
        >Buy Now<i class="ri-arrow-right-line ms-2"></i
      ></a>
      <a
        href="#"
        class="btn btn-link text-muted ms-md-2 bg-light-hover"
        role="button"
        >Learn More</a
      >
    </div>
  </div>
</div>
