<!-- Hero -->
<section class="bg-brand text-light pt-9 bg-slant">
  <div class="container">
    <div class="row gx-10 align-items-center justify-content-between">
      <!-- Left Side Hero -->
      <div
        class="col-6 z-index-20 text-center text-lg-start" data-aos="fade-up"
      >
        <h1 class="display-4 fw-bold mb-4 w-50">Development done right</h1>
        <p class="mb-6 w-75">
          Build a beautiful, modern website with flexible components built from
          scratch.
        </p>
        <a
          href="#"
          class="btn btn-light d-flex align-items-center p-4 w-fit-content"
          role="button"
          >Get Started<i class="ri-add-line ms-2"></i
        ></a>
        <div class="d-flex align-items-center mt-6">
          <span class="fs-9 me-5">Trusted by:</span>
          <div class="d-flex justify-content-center align-items-center gap-4">
            <div class="f-w-24 h-100">
              <picture>
                <img
                  class="img-fluid"
                  src="{{webRoot}}/assets/images/logos/google-white.svg"
                  alt=""
                />
              </picture>
            </div>
            <div class="f-w-24 h-100">
              <picture>
                <img
                  class="img-fluid"
                  src="{{webRoot}}/assets/images/logos/spotify-white.svg"
                  alt=""
                />
              </picture>
            </div>
            <div class="f-w-24 h-100">
              <picture>
                <img
                  class="img-fluid"
                  src="{{webRoot}}/assets/images/logos/airbnb-white.svg"
                  alt=""
                />
              </picture>
            </div>
            <div class="f-w-24 h-100">
              <picture>
                <img
                  class="img-fluid"
                  src="{{webRoot}}/assets/images/logos/paypal-white.svg"
                  alt=""
                />
              </picture>
            </div>
          </div>
        </div>
      </div>

      <!-- Right Side Hero -->
      <div class="w-45 mt-0 z-index-20">
        <div class="card d-flex flex-column h-100 bg-white border-lightblue border-2 shadow-lg p-5"  data-aos="fade-up">

          <!-- Card Header -->
          <div class="d-flex align-items-center justify-content-between mb-5">
            <span class="fs-6 fw-semibold text-dark">Manage cards</span>
            <a
              href="#"
              class="btn btn-light btn-sm bg-white fs-8 border-lightblue border-2 rounded-3 w-fit-content"
              role="button"
              >Add new</a>
          </div>

          <!-- Card -->
          <div class="position-relative flex-column justify-content-between w-100 bg-darkpurple rounded-4 p-5">
            <div class="d-flex align-items-center justify-content-between w-100 mb-5">
              <div class="f-w-12 h-100">
                  <img
                    class="img-fluid w-100"
                    src="{{webRoot}}/assets/images/logos/mastercard.svg"
                    alt=""
                  />
              </div>
              <span class="badge bg-success fs-8">Active</span>
            </div>
            <div class="d-flex flex-column w-100 mb-5">
              <span class="fs-xs fw-medium text-uppercase text-white">Card Number</span>
              <div class="d-flex align-items-center justify-content-between">
                <span class="fs-4 text-white fw-semibold">4358</span>
                <span class="fs-5 text-white fw-bold">&minus;</span>
                <span class="fs-4 text-white fw-semibold">7421</span>
                <span class="fs-5 text-white fw-bold">&minus;</span>
                <span class="fs-4 text-white fw-semibold">9256</span>
                <span class="fs-5 text-white fw-bold">&minus;</span>
                <span class="fs-4 text-white fw-semibold">6682</span>
              </div>
            </div>
            <div class="d-flex align-items-center w-100 mb-4">
              <div class="d-flex flex-column w-100">
                <span class="fs-xs text-white fw-medium text-uppercase">Name</span>
                <span class="fs-6 text-white fw-semibold">John Snow</span>
              </div>
              <div class="d-flex flex-column w-100">
                <span class="fs-xs text-white fw-medium text-uppercase">Expiry Date</span>
                <span class="fs-6 text-white fw-semibold">11/23</span>
              </div>
            </div>
            
            <!-- SVG Shape-->
            <div class="position-absolute top-0 end-0 start-0 bottom-0 z-index-0 d-block overflow-hidden">
              <div class="d-block w-75 end-0 position-absolute opacity-10">
                  <picture>
                    <img
                      class="img-fluid"
                      src="{{webRoot}}/assets/images/card-bg.svg"
                      alt=""
                    />
                  </picture>
              </div>
            </div>
            <!-- / SVG Shape-->  

          </div>
          <!-- Card -->

            <!-- Record -->
            <div class="d-flex align-items-start w-100 py-4 border-bottom border-lightblue">
              <div class="d-flex flex-column w-100">
                <span class="fs-6 fw-semibold text-dark">Starbucks</span>
                <span class="fs-9 fw-medium text-secondary">Pending - San Francisco, United States</span>
              </div>
              <span class="fs-7 fw-medium text-dark text-nowrap">$5,50 USD</span>
            </div> 
            <!-- / Record -->

            <!-- Record -->
            <div class="d-flex align-items-start w-100 py-4 border-bottom border-lightblue">
              <div class="d-flex flex-column w-100">
                <span class="fs-6 fw-semibold text-dark">Nike Sports</span>
                <span class="fs-9 fw-medium text-secondary">Pending - Lisbon, Portugal</span>
              </div>
              <span class="fs-7 fw-medium text-dark text-nowrap">$129,00 USD</span>
            </div> 
            <!-- / Record -->

            <a href="#" class="btn btn-link d-flex align-items-center my-4 py-1 px-0 rounded-0 w-fit-content fw-semibold fs-8 text-primary border-dashed border-bottom-primary" role="button">View all<i class="fs-xs ri-arrow-right-s-line ms-1"></i
              ></a>
          </div>
        </div>
      </div>
      <!-- /Right Side Hero -->
    </div>
  </div>
</section>
