footer {
  a {
    color: rgba(255, 255, 255, 0.5);
    transition: all ease-in 0.3s;
    font-size: 1.025rem;

    &:hover {
      color: rgba(255, 255, 255, 1) !important;
      opacity: 1 !important;
    }
  }
  .footer-heading {
    color: $white;
    margin-bottom: 1.5rem;
  }

  .footer-nav {
    margin-bottom: 0;

    li {
      margin-bottom: 0.35rem;
    }
  }
}
